.background {
    width: 100%;
    height: 100%;
    background-image: url("https://media.istockphoto.com/photos/pink-baby-shower-nursery-background-picture-id589542184?k=20&m=589542184&s=170667a&w=0&h=eLEEoVlh0ASOFNNYwQONiEFmA0EOiLwrRQ10h5_cJEA=");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div {
    background-color: aliceblue;
    width: 350px;
    height: 450px;
    margin-right: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    display: grid;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 15px;
    color: #edb0c0;
}

input {
    outline: none;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid #edb0c0;
    margin: 5px;
}

button {
    background-color: #edb0c0;
    border: transparent;
    padding: 10px;
    border-radius: 8px;
    color: rgb(151, 150, 150);
    margin-top: 15px;
    margin-right: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

